// Toast components
div#toast-content.hidden {% with messages = get_flashed_messages() %}{% if messages %}{{ messages }}{% endif %}{% endwith %}
div#toast.mdl-js-snackbar.mdl-snackbar
    div.mdl-snackbar__text
    button.mdl-snackbar__action(type='button')
script(type='text/javascript').

    function showToastBar(msg) {
        var snackbarContainer = document.querySelector('#toast');
        var data = {message: msg};
        snackbarContainer.MaterialSnackbar.showSnackbar(data);
    }

    $(document).ready(function () {
        setTimeout(function () {
            var snackContent = eval(document.querySelector('#toast-content').innerText);
            if (snackContent === undefined) {
                return;
            }
            for (let i = 0; i < snackContent.length; i++) {
                showToastBar(snackContent[i]);
            }
        })
    })

