// Toast components
div#toast.mdl-js-snackbar.mdl-snackbar
    div.mdl-snackbar__text
    button.mdl-snackbar__action(type='button')

| {% with messages = get_flashed_messages() %}
|   {% if messages %}
|       <script>
|           $(document).ready(function () {
|               setTimeout(function () {
|                   var snackbarContainer = document.querySelector('#toast');
|               {% for message in messages %}
|                   var data = {message: '{{ message }}'};
|                   snackbarContainer.MaterialSnackbar.showSnackbar(data);
|               {% endfor %}
|           }, 500);
|           });
|       </script>
|   {% endif %}
| {% endwith %}