div#container h2
  text-align center

form.chatroom-form
  margin: auto
  margin-top 60px
  max-width: 400px

  @media screen and (max-width: 450px)
    margin-left: 16px
    margin-right: 16px

  div
    display block
    width: 400px

  button
    display: block
    width 100%
    margin-top: 32px

.mdl-layout__header-row
  @media screen and (max-width: 450px)
    padding-left: 16px
